/* GLOBAL STYLES */

html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    color: #a1aeb7;
    letter-spacing: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #505d68;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* HEADER SECTION */
  header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: .3em;
  }

  .nav-img img {
    width: 10em;
    margin-left: 1em;
  }

  .toggle-wrapper {
    display: block;
    cursor: pointer; /* This element is clickable */
    font-size: 3em;
    padding: 1em 0.5em;
    position: relative;
  }

  .navlinks {
    display: none; /* hides navigation links in smaller screens*/
  }

  .show-links { /* displays navigation links in a column layout when toggled */
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0.5em;;
    position: absolute;
    right: 2em;
    background-color: #50C878;
    line-height: 2rem;
    text-wrap: nowrap;
}

