/* GLOBAL STYLES */

html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    color: #505d68;
    letter-spacing: 0;
    background-color: #2a7cba;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #505d68;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #008000;
  }
  
  /* HEADER SECTION */
  header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: .3em;
  }

  .nav-img img {
    width: 10em;
    margin-left: 1em;
    overflow: hidden;
    border-radius: 50%;
  }

  .toggle-wrapper {
    display: block;
    cursor: pointer; /* This element is clickable */
    font-size: 3em;
    padding: 1em 0.5em;
    position: relative;
    color: #fff;
  }

  .navlinks {
    display: none; /* hides navigation links in smaller screens*/
  }

  .navlinks a {
    color: white;
  }

  .show-links { /* displays navigation links in a column layout when toggled */
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0.5em;;
    position: absolute;
    right: 2em;
    background-color: #2a7cba;
    line-height: 2rem;
    text-wrap: nowrap;
}

/* HERO SECTION */
.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
    color: #fff;
    position: absolute;
    z-index: 2;
}

.view-overlay {
    background-color: #504f4f;
    opacity: .3;
    /* width: 90vw;             to be reused for desktop view
    height: 90vh; */ 
    object-fit: scale-down;
    position: absolute;
    z-index: 1;
  }

  .mobile-hero-img {
    width: 90vw;
    height: 90vh;
    object-fit: scale-down;
    z-index: 0;
  }

  .desktop-hero-img {
    display: none;
  }

  /* ABOUT SECTION */
  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
    padding-bottom: 100px;
  }

  .about p {
    font-size: 3rem;
    color: #fff;
    margin-top: -120px;
    padding: 4rem 1rem;
    text-align: center;
    font-weight: 100;
  }

  .about a {
    border: solid 1px #fff;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #19a86a;
    padding: 2rem 5rem;
    border-radius: 10px;
  }

  /* PROGRAMS SECTION */

  .programs {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    margin-top: 90px;
    padding-bottom: 70px;
  }

  .programs p {
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    margin-top: -100px;
    width: 90vw;
  }

  .programs a {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 2rem;
  }

  .programs scan {
    font-size: 2rem;
    color: #008000;
    margin-top: -20px;
    margin-bottom: 40px;
  }

  .card {    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    border-radius: 15px;
  }
  
  .card img {
    width: 87vw;
    object-fit: fill;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
  }

  /* GET INVOLVED SECTION */
  .get-involved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem 5rem 2rem;
    gap: 3rem;
    background-color: #fff;
  }

  .get-involved img {
    width: 100vw;
  }
  
  .get-involved h2 {
    padding: 0 3rem;
    font-size: 3rem;
    color: #2a7cba;
  }
  
  .get-involved-card {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    background: #fcfcff;
    border-radius: 15px 15px 0 0;
    box-shadow: rgba(25, 168, 106, 0.4) 0px 2px 4px, rgba(25, 168, 106, 0.3) 0px 7px 13px -3px, rgba(25, 168, 106, 0.2) 0px -3px 0px inset;
}
  .get-involved-card:hover {
    box-shadow: rgba(25, 168, 106, 0.4) 0px 5px, rgba(25, 168, 106, 0.3) 0px 10px, rgba(25, 168, 106, 0.2) 0px 15px, rgba(25, 168, 106, 0.1) 0px 20px, rgba(25, 168, 106, 0.05) 0px 25px;
    transform: translateY(-2px);
}

  .get-involved-card p {
    padding: 1rem 2rem;
  }

  .get-involved-cta {
    border-top: 1px solid #19a86a;
    padding: 2rem 0;
  }

  .get-involved a {
    padding: 0 2rem;
  }

  .get-involved i {
    font-size: 2rem;
    color: #19a86a;
  }

  /* NEWSLETTER SECTION */
  .newsletter {
    background-color: #fff;
    margin-top: -2px;
    padding: 0 2rem;
  }

  .newsletter h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
  }

  .newsletter h3 {
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .newsletter p {
    font-size: 1.4rem;
  }

  .newsletter form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #2a7cba;
    line-height: 3rem;
    padding: 2rem;
    background-color: #fcfcff;
    border: 1px solid #2a7cba;
    border-radius: 15px;
  }

  .newsletter form input[type="text"], 
  .newsletter form input[type="email"] {
    height: 4.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    padding-left: 1rem;
  }

  .newsletter form .label-required {
    font-size: 1rem;
    color: red;
  }
  
  .newsletter form .label:required {
    border: 1px solid red;
  }

  .newsletter form input[type="submit"] {
    background-color: #19a86a;
    color: white;
    padding: 1.5rem;
    border: 1px solid #19a86a;
    border-radius: 4px;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
  }
  
  .newsletter form [type="submit"]:hover {
    background-color: #46b987;
  }

  .privacy-note {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 5rem;
  }

  /* FOOTER SECTION */
  footer {
    margin-top: -2rem;
    background-color: #fcfcff;
  }

  .footer-columns-wrapper {
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 4rem;
  }

  .footer-about-column nav {
    display: flex;
    flex-direction: column;
  }
  
  .footer-contacts-column address {
    font-style: normal;
    padding-top: 2rem;
    color: #008000;
  }

  .footer-contacts-column a {
    text-transform: lowercase;
  }

  .socialmedia-icons {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 2rem;
  }

  footer img {
    width: 100vw;
    object-fit: cover;
  }

  .copyright-mobileview {
    margin-top: -5px;
    margin-bottom: 0;
    background-color: #19a86a;
    line-height: 2rem;
    font-size: 1.2rem;
    text-wrap: balance;
    text-align: center;
    padding-top: 2rem;
  }

  .copyright-desktopview {
    display: none;
  }